{% extends 'base.html' %}
{% load custom_filters %}

{% block content %}
<h1>Horari</h1><br>
<table class="table table-bordered text-center">
    <thead>
        <tr>
            <th style="width: 10px;">Hora</th>
            {% for dia in horari.keys %}
                <th>{{ dia }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for hora in hores %}
        <tr>
            <td>{{ hora }}</td>
            {% for dia,rutines in horari.items %}
                <td class="p-0" style="height: 50px; width: 20%;">
                    {% with key=dia|add:"_"|add:hora %}
                        {% if key in rutines %}
                            <div class="position-relative w-100 h-100">
                                <button class="btn btn-danger btn-sm show-form w-100 h-100" data-target="form-{{ key }}">{{ rutines|get_item:key|get_item:"nom" }}</button>
                                <div id="form-container-{{ key }}" class="form-container d-none position-absolute top-100 start-0 w-30 h-150 bg-dark text-white p-3 shadow-lg border border-dark" style="z-index: 1050; border-radius: 10px;">
                                    <form method="POST" action="{% url 'trainer:treure_rutina' %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="horari_id" value="{{ rutines|get_item:key|get_item:'horari_id' }}">
                                        <button type="submit" class="btn btn-danger btn-sm w-100">Treure rutina</button>
                                    </form>
                                </div>
                            </div>  
                        {% else %}
                            <div class="position-relative w-100 h-100">
                                <button class="btn btn-secondary btn-sm show-form w-100 h-100" data-target="form-{{ key }}">
                                    Lliure
                                </button>
                                <div id="form-container-{{ key }}" class="form-container d-none position-absolute top-100 start-0 w-200 h-200 bg-dark text-white p-3 shadow-lg border border-dark" style="z-index: 1050; border-radius: 10px;">
                                    <form method="POST" action="{% url 'trainer:asignar_rutina' %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="key" value="{{ key }}">
                                        <select class="form-select w-100" name="rutina_id">
                                            <option value="" disabled selected>Selecciona la rutina</option>
                                            {% for rutina in all_rutines %}
                                                <option value="{{ rutina.rutina_id }}">{{ rutina.nom }}</option>
                                            {% endfor %}
                                        </select>
                                        <button type="submit" class="btn btn-success btn-sm mt-2 w-100">Asignar</button>
                                    </form>
                                </div>
                            </div>
                        {% endif %}
                    {% endwith %}
                </td>
            {% endfor %}
        </tr>
        {% endfor %}    
    </tbody>
</table>

<script>
    document.querySelectorAll('.show-form').forEach(button => {
        button.addEventListener('click', function() {
            document.querySelectorAll('.form-container').forEach(container => {
                container.classList.add('d-none');
            });

            var targetFormId = this.getAttribute('data-target');
            var formContainer = document.getElementById('form-container-' + targetFormId.split('-')[1]); 

            if (formContainer) {
                formContainer.classList.toggle('d-none');
            }
        });
    });

    document.addEventListener('click', function(event) {
        if (!event.target.closest('.position-relative')) {
            document.querySelectorAll('.form-container').forEach(container => {
                container.classList.add('d-none');
            });
        }
    });
</script>
{% endblock %}
