<!-- Herència de la plantilla base.html -->
{% extends "base.html" %}

{% block content %}
<div class="home">
    <!-- Títol de la pàgina -->
    <h1>Benvingut al Gimnàs</h1>
    <!-- Condicional per mostrar missatges diferents segons si l'usuari està autenticat o no -->
    {% if user.is_authenticated %}
        <!-- Si l'usuari està autenticat, mostra el seu nom d'usuari -->
        <p>Hola, {{ user.username }}!</p>
    {% else %}
        <!-- Si l'usuari no està autenticat, mostra un missatge demanant que iniciï sessió -->
        <p>Si us plau, inicia sessió per continuar.</p>
    {% endif %}
</div>
{% endblock %}