{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gimnàs App</title>
    <!-- Inclou la llibreria CSS de Bootstrap per a estils i disseny responsiu. -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <style>
        input {
            width: 100%;
        }
        body {
            background-color: lightgray !important; 
        }

        input, textarea {
            background-color: lightgray !important; 
            border-color: black !important; 
        }
    </style>

    <!-- Utilitza la classe 'navbar-dark' i 'bg-dark' per a un fons negre i text blanc. -->
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'home' %}">GYM APP</a>
        <ul class="navbar-nav flex-row ml-auto">
            <!-- Condicional per a mostrar opcions diferents segons si l'usuari està autenticat o no. -->
            {% if user.is_authenticated %}


                {% if user.is_authenticated and user.role == 'trainer' %}
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="{% url 'trainer:llistar_rutines' %}">Llistar Rutines</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="{% url 'trainer:horari' %}">Horari</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="{% url 'trainer:crear_rutina' %}">Crear Rutina</a>
                    </li>

                {% elif user.is_authenticated and user.role == 'user' %}
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="{% url 'user:horari_classes' %}">Horari Classes</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="{% url 'user:quota' %}">Quota</a>
                    </li>
                    
                {% elif user.is_authenticated and user.role == 'admin' %}
                <li class="nav-item mx-2">
                    <a class="nav-link" href="{% url 'admin_app:llistar_usuaris' %}">Llistar Usuaris</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link" href="{% url 'admin_app:crear_usuari' %}">Crear Usuari</a>
                </li>
                {% elif user.is_authenticated and user.role == 'director' %}
                <li class="nav-item mx-2">
                    <a class="nav-link" href="{% url 'gerent_app:llista_usuaris' %}">Llistar Classes</a>
                </li>
                {% endif %}
                <li class="nav-item mx-2">
                    <a class="nav-link" href="{% url 'editar_perfil' %}">Editar perfil</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link" href="{% url 'logout' %}">Tancar Sessió</a>
                </li>
               
            {% endif %}

        </ul>
    </nav>

    <!-- Mostra missatges -->
    <div class="container mt-3">
        {% if messages %}
            <div class="alert alert-info">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <div class="container mt-4">
        {% block content %} {% endblock %}
    </div>

    <!-- Inclou les llibreries JavaScript i dependències necessàries de Bootstrap. -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.4.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
